html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#screen {
    width: 600px;
    height: 600px;
    border: 10px solid red;
    display: grid;
    gap: 1px;
    background-color: gray;
}


.boxes {
    background-color: white;
}