html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#142d4c;
}

#container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#toolbar {
    display: flex;
    gap: 10px;
}


#toolbar > div {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    background-color: ;
}

#btn {
    font-weight: 900;
    color: white;
    background-color: gray;
    padding: 4px 6px;
}

label {
    color: white;
    font-weight: 900;
}



#screen {
    width: 600px;
    height: 600px;
    border: 10px solid gray;
    display: grid;
    gap: 1px;
    background-color: aquamarine;
}


.boxes {
    background-color: white;
}